name: Deploy to AWS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Deploy to Server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ubuntu
        key: ${{ secrets.SSH_KEY }}
        script: |
          cd /var/www/html
          sudo git clone https://github.com/Masumoou/my-devops-project.git temp || (cd temp && sudo git pull)
          sudo cp -r temp/* .
          sudo rm -rf temp
